{% extends 'menus.html' %}
{% block content %}
<html>
    <head>
        {% load staticfiles %}
    </head>
    <body>
        
       <!-- a class 'tr' serve para fazer o loop para excluir os div em caso de erro -->
        <div class='container_quadrado'>
            <div class='titulo'>
                    <h1>Calculadora de circulos</h1>
                    <h3>Insira o raio do circulo para calcular a área e o perímetro </h3>
            </div>
            <div class='click '>
        <input class='inp' type="number" id="raio">

        <button class='butao1' onclick ="area_circle()">
        calcular
        </button>
        </div>
        <div   id='error'></div>
        <div class="resultado_quadrado">
           
            <div   class='tr' id="res_area_circulo" ></div>
                
           

           
            <div  class='tr' id="res_perimetro_circulo"></div>

        </div>

        <div  class ='canvas_quadrado'>
            <p  class='tr' id='rep'></p>
            <canvas  id="canvas_circ" height='300px'style="height: 95%; width:95%"></canvas>
        </div>
    
  
        </div>
            
        </body>
        <script src="{% static 'scripts/circle-scripts.js' %}"></script>  
</html>
{% endblock %}