<html>
    <head>
            {% load staticfiles %}
        
            <link href="{% static "css/static.css" %}" rel="stylesheet">
    </head>
    <body>
        <div id="main_page">
                <div>
                        calc.js
                    </div>
                    <div id="main_menu">
                        <div>
                            triangulo
                        </div>
                        <div>
                            circulo
                        </div>
                        <div>
                            quadrado
                        </div>
                        <div>
                            retangulo
                        </div>
                    </div>
        </div>
        
    </body>
</html>