{% extends "menus.html" %}
{% block content %}

    <body>
        <head>
            {% load staticfiles %}
        </head>
        
    
        <div class="container_quadrado">
                <div class='titulo'>
                        <h1>Calculadora de Retangulos</h1>
                        <h3>Insira dois números reais e maiores que zero </h3>
                </div>
        <div class="click">
            <input  class='inp' type="number" id="lado_1">
            <input class='inp' type="number" id="lado_2">
            <button class='butao1' onclick="area_retangulo() ">
                    calcular 
            </button>
        </div>
        <div  id='error'></div>
        <div class="resultado_quadrado">
               
                <div   class="tr" id="res_area_retangulo" ></div>
    
                
                <div  class="tr"  id="res_perimetro_retangulo"></div >
                
                    
                
                <div  class="tr"  id="res_diagonal_retangulo"></div>
                
        </div>
    
        <div class="canvas_quadrado">
                    <p  class='tr' id='rep'></p>
                    <canvas height = "400" width="400" style="height:105%;width:105%" id="canvas" ></canvas>
        </div>
    
        </div>

    </body>
    <script src="{% static 'scripts/rects-scripts.js' %}"></script>  

{% endblock %}