
{% extends 'menus.html' %}
{% block content %}
<html>
    
        <head>
            {% load staticfiles %}
            
            <link href="{% static "css/static.css" %}" rel="stylesheet">
        </head>
    
    <body>
        
    <div class='container' onclick="exp_aux()" >
        <div class='triangle-t'>
            <h1>Calculadora de triangulos</h1>
            <h3>Insira tres informaçoes , angulos em funçao de π são inseridos como fraçoes ex: pi/2 , pi/3. </h3>
        </div>
            <div class='input'>
                
                <div class="triangle" > 

                    <div  class="a">
                            <input class="number lado" type="text" id="lado_a"  placeholder="Lado a"> 
                    </div>

                    <div class="b"> 
                            <input class="number lado" type="text" id="lado_b" placeholder="Lado b"> 
                    </div>

                    <div class="c">
                            <input class="number lado" type="text" id="lado_c" placeholder="Lado c"> 
                    </div>

                    <div  class=" Abc">
                        <input class="number ang" type="text" id="abc" placeholder="ABC"> 
                    </div>

                    <div  class="Bca">
                            <input class="number ang" type="text" id="bca" placeholder="BCA"> 
                    </div>

                    <div class=" Cab">
                            <input class="number ang" type="text" id="cab" placeholder="CAB"> 
                    </div>
                    
                  

                 </div>

                <div class='click'>

                    <div>
                        <select name="select" id="opc" class="opc butao">
                            <option value="graus">graus</option>
                            <option value="radianos">radianos</option>
                        </select>
                    </div>
    
                    <div>
                        <button id ='bt'class= "butao calc" onclick ="draw_tri()">
                            calcular
                        </button>
                    </div>
    
                    <div>
                        <button class= "butao clear" onclick ='reset()'>
                                clear
                        </button>
                    </div>
                   
                </div>

    
            </div>
   

            <div class= 'resultados'> 

                <div class='titulo-resultado'><p> Resultados :</p></div>
                <div class='resultados-corpo'>
                    <div>
                        <div> <p  id="result_a"> </p> </div>
                        <div> <p id="result_b"> </p> </div>
                        <div> <p  id="result_c"> </p> </div>
                        <div> <p id="result_abc"> </p> </div>
                        <div> <p id="result_bca"> </p> </div>
                        <div> <p id="result_cab"> </p> </div>
                    </div>
                    <div>
                        <div> <p id="result_area"> </p> </div>
                        <div> <p id="result_altura_a"> </p> </div>
                        <div> <p id="result_altura_b"> </p> </div>
                        <div> <p id="result_altura_c"> </p> </div>
                    </div>
                </div>
            </div>
           
         
     

       
            <div class='calculos'>
                <div> 
                    <p> Calcúlos :</p>
                </div>
               
                <div>
                    <p id='titulo'></p>
                </div>
                <div>
                    <p id='cof'></p>
                
                </div>
                <div>
                    <p id='ang_restante'></p>
                </div>
                <div>
                    <p id= "cal_a"></p>
                </div>
                <div>
                    <p id= "cal_b"></p>
                </div>
                <div>
                    <p id= "cal_c"></p>
                </div>
                <div>
                    <p id= "cal_abc"></p>
                </div>
                <div>
                    <p id= "cal_bca"></p>
                </div>
                <div>
                    <p id= "cal_cab"></p>
                </div>

            </div>
           
            <div id='desenho' class="desenhos">
                <canvas height="300" style="height:95%;width:95%"   id="canvas_tri"  ></canvas>
            </div>  
            <div class='erros'>

                    <p id ='erro_input'> </p>
                    <p id='erro_existencia'></p>
    
            </div>

            

    </div>
    </body>
    <script src="{% static 'scripts/triangles-scripts.js' %}"></script>  
    
</html>
{% endblock %}